*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  
body{
    display:grid;
    place-items:center;
    height:100svh;
    font-family: 'orbitron', sans-serif;
} 
#calculator{
    width: 400px;
    border:0.75rem solid hsl(0, 0%, 70%);
    border-radius:10px;
    box-shadow: 2px 2px 20px hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 15%);
}
.calc-head{
  width:100%;
  height: calc(2.5rem + 10px);
  background-color: hsl(0, 0%, 15%);
}
#formula{
  color:lightgreen;
  font-size:2rem;
  text-align:right;
}
#display{
  color:white;
  font-size:2rem;
  text-align:right;
}
.button{
  padding: 1.5rem;
  margin:1px;
  border:0.5px solid hsl(0, 0%, 70%);
  font-size:1.2rem;
}
.button:hover{
  background-color: hsl(0, 0%, 50%);
  color:hsl(0, 0%, 80%);
}
#buttons{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding:1px;
}
#clear{
  grid-column: 1/3;
}
#zero{
  grid-column: 1/3;
}
#equals{
  grid-row: 4/6;
  grid-column: 4/5;
}