*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  
body{
    display:grid;
    place-items:center;
    height:100svh;
} 
#calculator{
    width: 400px;
    height: 600px;
    border-radius:10px;
    box-shadow: 2px 2px 20px hsl(0, 0%, 70%)
}